nav {
  display: flex;
  align-items: center;
  background-color: #FF8000;
 
}

.navMenu {
  margin-left: auto;
}

.logoNav {
 height: 100px;
}


.menu {
  list-style: none;
  display: flex;
  margin-left: auto;
}


.menu li {
  margin-right: 40px;
}


.menu li a:hover {
  color: #47c7fc;
}


.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  transition:  0.5s ease;
  font-family: 'Work Sans';

}



/* Estilos aplicados para pantallas con un ancho máximo de 850px */
@media screen and (max-width: 850px) {

  .menu li a {
    font-size: 1rem;
  }

}
  

/* Estilos aplicados para pantallas con un ancho máximo de 620px */
@media screen and (max-width: 650px) {

  .menu li a {
    font-size: 0.7rem;
  }

}

/* Estilos aplicados para pantallas con un ancho máximo de 620px */
@media screen and (max-width: 550px) {

  .menu li a {
    font-size: 0.5rem;
  }

}



/* Estilos aplicados para pantallas con un ancho máximo de 480px */
    @media screen and (max-width: 480px) {
    
    
      nav{
      flex-direction: column;
      align-items: center;
      }
    
    .menu {
      flex-direction: column;
      text-align: center;
    }

    .navMenu {
      margin-left:0;
      align-items: center;

    }

    .menu li {
      margin-right: 0;
      margin-bottom: 5px;
    }

    .logoNav {
      height: 100px;
     }
    
     .separador {
      visibility: hidden;

     }

     .menu li a {
      font-size: 1.5rem;
    }


    }
    
   
   

  
  