.seccionPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .tituloWeb {
    color: #FF8000;
    text-align: center;
    font-size: 3rem;
    
  }
  
  h1{
    text-shadow: 2px 2px 4px rgba(247, 244, 218, 0.5);

  }

  .banner{
    margin-top: 4%;  
    background-image: url("https://media-cdn.mclaren.com/media/images/articles/hero/Abu_Dhabi_livery_2022_Hero_shot_1600x620.jpg");
    width: 1400px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
  }
  
  
  .seccionSecundaria{
    margin-top: 60px; 
  }
  
  .subtitulo {
    margin: 60px;
    color: #e0c7ae;
    text-align: center;
    font-size: 24px;
    line-height: 2;
  
  }
  
  
  
  /* Tarjetas */
    .containerCards {
      margin-top: 60px;
      margin-bottom: 60px;
      display: flex;
      Justify-content: space-around;
      
         
    }
    
    .card:hover {
      box-shadow: 0 0 10px 5px rgba(255, 128, 0, 0.7);
    }
  
  
    .card {
      display: flex;
      
      flex-direction: column;
      align-items: center;
      background-color: #47c7fc;
      border-radius: 10px;
      padding: 12px;
      transition: box-shadow 0.3s;
    }
    
    .card img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 10px;
    }
    
    .card-content {
      text-align: center;
    }
    
    .card-content h2 {
      font-family: 'Work Sans';
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    .card-content p {
      font-family: 'Work Sans';
      font-size: 18px;
      color: #666;
    }


    .seccionVideo {
        margin: 100px 0 100px 0;
    }
    
    .containerVideo {
        display: flex;
        Justify-content: space-around;
     
    }

    .video {
        margin: 50px;
        
        color: #FF8000;
        text-align: center;
        font-size: 30px

    }

    iframe {
      width: 1024px;
    }


    /* Estilos aplicados para pantallas con un ancho máximo de 1400px */
  @media screen and (max-width: 1400px) {
  
    .banner{ 
      width: 950px;
      height: 360px;
      padding: 1%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  /* Estilos aplicados para pantallas con un ancho máximo de 960px */
  @media screen and (max-width: 960px) {
   
    .banner{ 
      width: 800px;
      height: 320px;
      padding: 1%;
      background-size: cover;
      background-repeat: no-repeat;
    }
    
    iframe {
      width: 640px;
    }

  }

/* Estilos aplicados para pantallas con un ancho máximo de 800px */
@media screen and (max-width: 800px) {
   
  .banner{ 
    width: 500px;
    height: 250px;
    padding: 1%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .tituloWeb {
    font-size: 2rem;
    
  }

  .subtitulo {
    margin: 3%;
    font-size: 1rem;
    line-height: 1;
    
  }

  .containerCards {
    flex-direction: column;
    padding: 5%;

  }
  
  .card {
    padding: 6px;
    width: 100%;
    margin-bottom: 5%;
  }

}



    /* Estilos aplicados para pantallas con un ancho máximo de 460px */
    @media screen and (max-width: 460px) {
      iframe {
      width: 440px;
    }

    .containerCards {
      flex-direction: column;
      padding: 5%;

    }

    .card {
      padding: 6px;
      width: 100%;
      margin-bottom: 5%;
    }

    .banner{ 
      width: 450px;
      height: 178px;
      padding: 1%;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .tituloWeb {
      font-size: 1.5rem;
      
    }

    .subtitulo {
      margin: 3%;
      font-size: 1rem;
      line-height: 1;
      
    }


    }