@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}


nav {
    display: flex;
    align-items: center;
    background-color: #FF8000;
}
  

hr {
margin: 0 20px;
border-right: 2px solid #000;

}
   
.logoNav {
   width: 150px;
   height: 75px;
}

  
  .menu {
    list-style: none;
    display: flex;
    margin-left: auto;
  }
  
  .menu li {
    margin-right: 40px;
  }

  .menu li a:hover {
    color: #47c7fc;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    transition:  0.5s ease;
    font-family: 'Work Sans';
  }

  .logoMenu{
    margin-left: 20px;
    margin-right: 20px;
  }

/* hasta acá la barra Nav */


/* Seccion banner */

.seccionPrincipal{
  display: flex;
  justify-content: center;
  align-items: center;

}

.tituloWeb {
  color: #FF8000;
  text-align: center;
  font-size: 50px
  
}


.banner{
  margin-top: 60px;  
  background-image: url("https://media-cdn.mclaren.com/media/images/articles/hero/Abu_Dhabi_livery_2022_Hero_shot_1600x620.jpg");
  width: 1400px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}


.seccionSecundaria{
  margin-top: 60px; 
}

.subtitulo {
  margin: 60px;
  color: #e0c7ae;
  text-align: center;
  font-size: 24px;
  line-height: 2;

}



/* Tarjetas */
  .containerCards {
    margin-top: 40px;
    display: flex;
    Justify-content: space-around;
       
  }
  
  .card:hover {
    box-shadow: 0 0 10px 5px rgba(255, 128, 0, 0.7);
  }


  .card {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    background-color: #47c7fc;
    border-radius: 10px;
    padding: 12px;
    transition: box-shadow 0.3s;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card-content h2 {
    font-family: 'Work Sans';
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    font-family: 'Work Sans';
    font-size: 18px;
    color: #666;
  }

  body{
    background-color: #0d0d0d;

  }
  

  .copy {
      color: #e0c7ae;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
      margin-top: 30px;
      text-align: center;  

  }

  .icon-footer {
    display: flex;
    justify-content: center;
  }

  .icon {
    width: 50px;
    margin: 20px;
  }


  .formularioContacto {

    display: flex;
    flex-direction: column;
    justify-content: center;
   

  }

  .divFormulario {
    display: flex;
    justify-content: center;


  }

  .etiquetas {
    color: #FF8000;;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-top: 20px;
  }

  .textFormulario {
    background-color: #e0c7ae ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
  }

  #mensaje {
    width: 400px; 
    height: 400px;
  
  }

  #btnEnviar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px
    width: 400px; 
    height: 50px;
    margin-top: 20px;
    
  }